html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: flex;
  width: 40px;
}

.header {
  background-color: #d05c2e;
  color: #fff;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.nav {
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}
