html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: flex;
  width: 40px;
}

.header {
  background-color: #d05c2e;
  color: #fff;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-size: 1.125rem;
  padding: 0;
}

nav ul li {
  width: 33.3333%;
  text-decoration: none;
  color: #fff;
  text-align: center;
  border: 3px solid #a63f38;
}

a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

li:hover {
  background-color: #a63f38;
}

li:first-child {
  border-right: none;
  border-left: none;
}

li:nth-child(3) {
  border-right: none;
  border-left: none;
}

a:hover {
  background-color: #a63f38;
}
